@import url('https://fonts.googleapis.com/css2?family=Chango&family=Roboto:wght@400;500;700&display=swap');

.header{
    font-family: 'Roboto', sans-serif;
    background-color: dodgerblue;
    height: 100px;
    color: #fffbff;
    font-weight: 600;
    
}

.row-one{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.img-logo{
    height: 84px;
    width: 84px;
    border: #fffbff;
}

.title{
    font-size: 1rem;
}

.row-two{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-options{
    display: flex;
    height: 100%;
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.8rem;
    margin-right: 16px;
    width: 100px;
}

.options:hover{
    color: #dddddd;
    border-bottom: 3px solid #dddddd;
    font-size: 1rem;
} 

.search{
    width: 200px;
}

/*
.header-row-one{
    max-height: 64px;
    font-size: 2rem;
}
.header-row-one > span{
    margin-left: 24px;
    cursor: pointer;
}
.header-row-one > span:hover{
    color: #dddddd;
}

.header-row-two{
    max-height: 32px;
    font-size: 1rem;
}
*/
/* .header-row-two > span{
    margin: 24px;
    cursor: pointer;
}
.header-row-two > span:hover{
    color: #dddddd;
    border-bottom: 2px solid #dddddd;
    font-size: 1.05rem;
}  */
