<div class="header">
  <div class="row-one">
    <div class="logo" (click)="debug()">
      <span>
        <img src="../../../../assets/img/logo-branca2.png" class="img-logo">
      </span>
    </div>
    <div id="input-search">
      <form class="search">
        <input type="text">
      </form>
    </div>
  </div>
  <div class="row-two">
    <div class="nav-options">
      <div class="options"[matMenuTriggerFor]="menuCategoria">
        <span>
          <i class="fa fa-cubes"></i>
          Categoria
        </span>
        <mat-menu #menuCategoria="matMenu">
          <button mat-menu-item>Livros</button>
          <button mat-menu-item>Eletrônicos</button>
          <button mat-menu-item>Equipamentos</button>
        </mat-menu>
      </div>
      <div class="options"[matMenuTriggerFor]="menuCurso">
        <span>
          <i class="fa fa-graduation-cap"></i>
          Curso
        </span>
        <mat-menu #menuCurso="matMenu">
          <button mat-menu-item>Análise e Desenvolvimento de Sistemas</button>
          <button mat-menu-item>Medicina</button>
          <button mat-menu-item>Odontologia</button>
          <button mat-menu-item>Direito</button>
        </mat-menu>
      </div>
      <div class="options" [matMenuTriggerFor]="menuStatus">
        <span>
          <i class="fa fa-ticket"></i>
          Status
        </span>
        <mat-menu #menuStatus="matMenu">
          <button mat-menu-item>Usado</button>
          <button mat-menu-item>Novo</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>



<!-- <mat-toolbar class="header mat-elevation-z5">
  <mat-toolbar-row class="header-row-one">
    <button mat-icon-button class="menu">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span (click)="debug()">University Market</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-row-two">
    
    <div class="options">
      <span mat-button [matMenuTriggerFor]="menuCategoria">Categoria</span>
      <mat-menu #menuCategoria="matMenu">
        <button mat-menu-item>Livros</button>
        <button mat-menu-item>Eletrônicos</button>
        <button mat-menu-item>Equipamentos</button>
      </mat-menu>
    </div>
    
    <div class="options">
      <span mat-button [matMenuTriggerFor]="menuCurso">Curso</span>
      <mat-menu #menuCurso="matMenu">
        <button mat-menu-item>Análise e Desenvolvimento de Sistemas</button>
        <button mat-menu-item>Medicina</button>
        <button mat-menu-item>Odontologia</button>
        <button mat-menu-item>Direito</button>
      </mat-menu>
    </div>
    <div class="options">
      
      <span [matMenuTriggerFor]="menuStatus">Status</span>
      <mat-menu #menuStatus="matMenu">
        <button mat-menu-item>Usado</button>
        <button mat-menu-item>Novo</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->