<div class="header">
  <div class="row-one">
    <div class="logo" (click)="debug()">
      <span>
        <img src="../../../../assets/img/logo-branca2.png" class="img-logo">
      </span>
    </div>
    <div id="input-search">
      <form class="search">
        <input type="text" placeholder="Faça aqui sua pesquisa...">
      </form>
    </div>
  </div>
  <div class="row-two">
    <div class="nav-options">
      <div *ngFor="let menuItem of menuList">
        <div *ngIf="!menuItem.disabled" class="have-dropdown">
          <div class="options">
            <span>
              <i class="{{ menuItem.icon }}"></i>
              {{ menuItem.label }}
              <i class="fa fa-angle-down" *ngIf="menuItem.submenu.length > 0"></i>
            </span>
            <!-- <mat-menu #{{ menuItem.label }}="matMenu">
              <button mat-menu-item>Livros</button>
              <button mat-menu-item>Eletrônicos</button>
              <button mat-menu-item>Equipamentos</button>
            </mat-menu> -->
          </div>
          <div class="dropdown-menu-gamb">
            <a href="#">Livros</a>
            <a href="#">Eletrônicos</a>
            <a href="#">Equipamentos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <mat-toolbar class="header mat-elevation-z5">
  <mat-toolbar-row class="header-row-one">
    <button mat-icon-button class="menu">
      <mat-icon>
        menu
      </mat-icon>
    </button>
    <span (click)="debug()">University Market</span>
  </mat-toolbar-row>
  <mat-toolbar-row class="header-row-two">
    
    <div class="options">
      <span mat-button [matMenuTriggerFor]="menuCategoria">Categoria</span>
      <mat-menu #menuCategoria="matMenu">
        <button mat-menu-item>Livros</button>
        <button mat-menu-item>Eletrônicos</button>
        <button mat-menu-item>Equipamentos</button>
      </mat-menu>
    </div>
    
    <div class="options">
      <span mat-button [matMenuTriggerFor]="menuCurso">Curso</span>
      <mat-menu #menuCurso="matMenu">
        <button mat-menu-item>Análise e Desenvolvimento de Sistemas</button>
        <button mat-menu-item>Medicina</button>
        <button mat-menu-item>Odontologia</button>
        <button mat-menu-item>Direito</button>
      </mat-menu>
    </div>
    <div class="options">
      
      <span [matMenuTriggerFor]="menuStatus">Status</span>
      <mat-menu #menuStatus="matMenu">
        <button mat-menu-item>Usado</button>
        <button mat-menu-item>Novo</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar> -->